* {
    max-width: 1600px;

}

section {
    margin: 120px 140px;
}

/*header section */
.head {
    margin: 50px 140px 120px 140px;
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: #07021176;
    background-blend-mode: multiply;
    height: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.h-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-top: 177px;

}

.head-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    margin: 0 344px 177px 344px;

}

/*offer section style*/

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 0px;
}

.our {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
}

.all {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nyp-img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-top: 48px;
    margin-bottom: 120px;
}

/*Section-3 styles*/
.banner-s3 {
    background-image: url('../resources/Vectorrr.png');

    background-repeat: no-repeat;

    background-color: #07021171;
    background-blend-mode: multiply;
}

.banner {
    padding: 50px 138px 140px 126px;
    display: flex;
    align-items: center;


}

.banner-g {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    width: 640px;
    margin-bottom: 0px;

}

.banner-t {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width: 690px;
    margin-top: 24px;
    margin-bottom: 40px;


}

.btn-s3 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    background-color: transparent;
    border: none;
}

/*section-4*/
.section-4 {
    padding: 120px 140px 0px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    margin: 120px 140px 0px;
}

.s4-t {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    margin-top: 100px;
}

.span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;

}

.s4-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin: 65px 390px 50px;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
}

/*section-5 styles*/
.bf {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.awesome {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 20px;
}

.bf-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
}


.img {
    display: flex;
    width: 33%;
    width: 400px;
    height: 420px;
    flex-shrink: 0;
    gap: 20px;
    padding: 20px;
}

.img-1 {
    display: flex;
    width: 33%;
    width: 400px;
    height: 420px;
    flex-shrink: 0;
    gap: 20px;
    padding: 20px;
}

/*section-6 styles*/
.section-6 {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.s-6 {
    margin: auto;
    width: 50%;
    text-align: center;

}

.email-img {
    padding-top: 80px;
    padding-bottom: 40px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.sub {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;

    font-weight: 900;
    padding-top: 0px;
    padding-bottom: 0px;

}

.dolor {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.email {
    border-radius: 50px;
    background: #FFF;
    width: 600px;
    height: 72px;
    flex-shrink: 0;
    margin-bottom: 120px;
}

.placeholder {
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 45px;
}

.mail-flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.sub-btn {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    
}

/*footer section styles*/

footer {
    background: #070211;
}

.b-text {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    width: 375px;
    margin: 120px 0px 50px 140px;
}

.number {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    width: 300px;
    margin: 120px 290px 0px 0px;
}

.web {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    width: 215px;
    margin: 0px 275px 50px 0px;
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.social {
    text-align: center;
    margin-bottom: 50px;
}

.hr {
    width: 1320px;
    height: 1%;
    margin: 0px 140px 50px 140px;
    border-top: 1px solid #08070726;

}

.copy {
    display: flex;
    justify-content: space-between;
}

.c-right {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin: 0px 0px 120px 140px;
}

.unsub {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin: 0px 140px 120px 0px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.img-link {
    margin-right: 24px;
}